body{

  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(
                              89deg,
                              rgb(94, 191, 204) 0%,
                              rgb(80, 98, 160) 100%);
}

button{
  cursor: pointer;
}

