
.cardsList{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}

@media screen and (max-width: 1000px){
    .cardsList{
        grid-template-columns: repeat(3, 250px);
    }
}


@media screen and (max-width: 750px){
    .cardsList{
        grid-template-columns: repeat(2, 250px);
    }
}


@media screen and (max-width: 500px){
    .cardsList{
        grid-template-columns: repeat(1, 250px);
    }
}
